extends base.pug

block content 
    h2 Type what you want to upload 
    form(method="POST")
        input(placeholder="video" required name = "title")
        input(type="submit" value = "upload a video")